.navLink {
  width: 100%;
  background-color: $white-color;
  border-radius: 6px;
  padding: 10px 20px;

  @include flexible(center, flex-start, $gap:10px);

  transition: all $default-transition-settings;

  &:active {
    background-color: $primary-color;
    color: $white-color;
  }
}
