.toggle-button {
  @include position(relative);

  width: 50px;
  height: 25px;

  &__switcher {
    @include position(absolute, $left: 3px, $top: 3px, $bottom: 3px);

    width: 20px;
    background-color: $lighted-color;

    &--disabled {
      animation: switchDesibleToggle 0.3s forwards ease-out;
    }

    &--active {
      animation: switchActiveToggle 0.3s forwards ease-out;
    }
  }
}

@keyframes switchActiveToggle {
  from {
    left: 3px;

    background-color: $lighted-color;
  }
  to {
    left: 27px;

    background-color: $primary-color;
  }
}

@keyframes switchDesibleToggle {
  from {
    left: 27px;

    background-color: $primary-color;
  }
  to {
    left: 3px;

    background-color: $lighted-color;
  }
}
