.button {
  width: 100%;
  height: 52px;
  background-color: $primary-color;
  border-radius: 12px;

  @include flexible(center, center, $gap: 4px);

  transition: all $default-transition-settings;

  &--primary {
    background-color: $primary-color;
    box-shadow: 1px 1px 5px $lighted-color;

    color: $white-color;

    &:active {
      background-color: $secondary-color;
    }
  }

  &--secondary {
    background-color: $white-color;

    &:active {
      background-color: $secondary-color;

      color: $white-color;
    }
  }
}
