.profile-page {
  width: 100%;
  height: 100vh;

  @include flexible(center, center, column, $gap: 12px);

  &__content {
    @include flexible(center, space-between, column, $gap: 12px);
  }

  &__button {
    width: 100%;
    max-width: 500px;
  }
}
