.role-modal {
  width: 400px;

  @include flexible(center, center, column, $gap: 12px);

  &__button {
    width: 100%;
    @include flexible(flex-start, center);
  }

  &--opened {
    animation: openRoleModal $default-animation-settings;
  }
}

@keyframes openRoleModal {
  from {
    opacity: 0;

    transform: scale(0.9);
  }
  to {
    opacity: 1;

    transform: scale(1);
  }
}
