.index-page {
  width: 100vw;
  height: 100vh;

  @include flexible(center, center, column, $gap: 12px);

  &__content {
    width: 400px;

    @include flexible(center, center, column, $gap: 12px);
  }

  &__typography {
    color: #124313;
  }
}
