.index-page {
  width: 100vw;
  height: 100vh;

  @include flexible(flex-start, stretch, column, $gap: 40px);

  &__header {
    width: 100%;

    @include flexible(center, space-between);
  }

  &__add-button {
    padding: 0 20px;
    width: fit-content;
  }

  &__search {
    &-wrapper {
      padding: 20px;
      width: 100%;
      background-color: $primary-color;
      border-radius: 12px;
      box-shadow: 1px 1px 5px $lighted-color;

      @include flexible(flex-start, center, $gap: 20px);
    }
  }

  &__filter-button {
    padding: 0 20px;
    width: fit-content;
    background-color: $white-color;
  }

  &__ideas {
    &-wrapper {
      width: 100%;

      @include flexible(flex-start, stretch, column, $gap: 20px);
    }

    &-bar {
      width: 100%;
      padding: 4px 20px;
      @include border(solid, $lighted-color, 0, 0 0 1px);

      text-align: center;

      display: grid;
      align-items: center;
      grid-template-columns: 2fr 1fr 1fr 100px 100px;
      gap: 12px;

      &-dates {
        @include flexible(center, center, column);
      }
    }
  }
}
