.select-role {
  @include flexible(center, flex-start, column, $gap: 4px);
  

  &__option {
    @include flexible(center, flex-start, row, $gap: 4px);
  }

  &__select {
    height: 0;
    overflow: hidden;

    animation: select-role-open $default-animation-settings;
  }
}

@keyframes select-role-open {
   from {
      height: 0;
    }
    to {
      height: 134px;
    }
}
