$primary-color: #2151ff;
$lighted-color: #9a9a9a;
$white-color: #ffffff;
$black-color: #000000;
$warning-color: #f4dc04;
$medium-color: #dbab0c;
$success-color: #25c519;
$danger-color: #ff0404;

$default-background-color: #efefef;
